aiofiles==23.1.0
aiogram==3.0.0b7
aiohttp==3.8.6
aiosignal==1.4.0
async-timeout==4.0.3
attrs==25.4.0
backports-datetime-fromisoformat==2.0.3
certifi==2026.1.4
charset-normalizer==3.4.4
environs==14.5.0
frozenlist==1.8.0
idna==3.11
magic-filter==1.0.12
marshmallow==4.2.2
multidict==6.7.1
propcache==0.4.1
pydantic==1.10.26
python-dotenv==1.2.1
typing_extensions==4.15.0
yarl==1.22.0
yt-dlp==2026.2.4
