[Unit]
Description=Bot for downloading video from youtube
After=network.target

[Service]
EnvironmentFile=/etc/environment
ExecStart=/root/dev/bots/yt-any-bot/venv/bin/python bot.py
ExecReload=/root/dev/bots/yt-any-bot/venv/bin/python bot.py
WorkingDirectory=/root/dev/bots/yt-any-bot/
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target